<div class = "col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a href="http://facebook.com/apalepu">Aditya</a>. He is a passionate web-developer in training hoping to build the world's next greatest thing!
	</p>
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'aditya.jpg', :class => "img-responsive" %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Aditya Palepu</h2>
		<br />
		<p>
			Aditya graduated from Duke University with a double major in Electrical &amp Computer Engineering and Computer Science in 2013. He now is an algorithmic trader at DRW Trading Group. 
		</p>
	</div>
</div>

