<h2>
	<span id="splurtyNum">SPLURTY / No. <%= @quote.id %></span> <span id="starter">You know you are Indian when...</span>
</h2>
<br />
<h1 class="text-center"><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>